{{ define "main" }}

<style>
.highlighted-product {
    width: 100% !important;
}
.highlighted-product #product {
    border-width: 2px !important;
}
.highlighted-product img {
    width: 100% !important;
    padding: 40px 60px 40px 60px !important;
    max-width: 20rem!important;
}
.highlighted-product .product-content {
    width: 100% !important;
    background-color: white !important;
    padding: 40px 10px 40px 10px !important;
    font-family: "ibm-plex-sans-condensed",sans-serif;
    text-align: left !important;
    font-size: 20px;
    line-height: 32px;
}
.highlighted-product ul {
    list-style: inside;
}
.highlighted-product li span {
    margin-left: -12px;
}
.highlighted-product #title {
    font-size: 30px !important;
}
.highlighted-product #des {
    display: none;
}
.highlighted-product h4 {
    font-family: "titling-gothic-fb-wide",sans-serif;
    font-size: 20px !important;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 8px;
    line-height: 24px;
}
.highlighted-product h5 {
    padding: 32px 0 24px 0;
}
.highlighted-product h6 {
    font-family: "titling-gothic-fb-wide",sans-serif;
    font-size: 16px !important;
    font-weight: bold;
    color: #508e7b !important;
    padding-top: 8px;
    padding-bottom: 15px;
    line-height: 24px;
}
.highlighted-product .quantity-box {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.highlighted-product #quantity {
    padding: 0 .5rem 0 .5rem !important;
    margin-top: 0 !important;
}
.highlighted-product #quote-button {
    width: 100% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 30px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.highlighted-product #pallet-notice {
    display: none;
}
.highlighted-product a {
    color: #508e7b;
    text-decoration: underline;
}
#quote-form > div:nth-child(24) > div > div {
    padding-top: 12px;
    margin: auto;
}
#item-add-notif {
    transition: .2s;
}
#item-updated-notif {
    transition: .2s;
}
@media screen and (min-width:576px) {
.highlighted-product {
    width: 66.66667% !important;
}
}
@media screen and (min-width:768px) {
.highlighted-product {
    width: 85% !important;
}
.highlighted-product #title {
    font-size: 40px !important;
}
.highlighted-product .product-content {
    padding: 40px 60px 40px 60px !important;
}
.highlighted-product .quantity-box {
    width: auto !important;
}
.highlighted-product #quote-button {
    width: auto !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 30px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.highlighted-product .quote-button-container {
    width: 50%;
}
.highlighted-product #item-add-notif {
    text-align: left;
}
.highlighted-product #item-updated-notif {
    text-align: left;
}
}
@media screen and (min-width:992px) {

}
@media screen and (min-width:1200px) {
.highlighted-product {
    width: 100% !important;
}
.highlighted-product img {
    width: 25% !important;
    height: 470px;
    max-width: 50rem!important;
}
.highlighted-product .product-content {
    width: 75% !important;
}
}
@media screen and (min-width:1440px) {
.highlighted-product img {
    height: 600px;
}
}
</style>

<div class="flex flex-wrap w-11/12 sm:w-2/3 lg:w-1/2 mx-auto sm:text-center pb-20">
    <h1 class="w-full font-titling text-4halfxl font-bold pb-5 leading-tight">COVID19 Pandemic <br> Supplies In One Place</h1>
    <p class="w-full font-ibm-conds text-xl">Providing pandemic supplies and protective equipment for city governments, municipalities, state departments, and emergency management personnel to help you combat COVID19.</p>
</div>

<div class="flex flex-wrap w-full lg:w-4/5 max-w-6xl mx-auto px-2">
{{ range where .Site.Pages "Type" "products" }}
<div class="flex flex-wrap items-stretch content-stretch w-full sm:w-2/3 md:w-1/2 xl:w-1/3 mx-auto p-4 product-seperater {{ if eq .Params.highlight true }} highlighted-product {{ else }}{{ end }}">
    <div id="product" class="flex flex-wrap w-full border border-black">
        <div class="flex flex-wrap w-full mx-auto text-center {{ if eq .Params.highlight true }} flex-row-reverse {{ else }}{{ end }}">
            <img class="w-56 mx-auto p-6" src="{{ .Site.Params.tracking.cloudinary_url }}/w_200{{ .Params.image }}">
            <div class="flex flex-wrap bg-color-DDF0EA p-8 product-content">
                <h2 id="title" class="w-full font-titling text-base font-bold">{{ .Params.name }}</h2>
                {{ if eq .Params.highlight true }} {{ .Content | safeHTML }} {{ else }}{{ end }}
                <p id="des" class="w-full font-ibm-conds text-xs pt-2 pb-2">{{ .Params.description }}</p>
                <p id="pallet-notice" class="w-full font-ibm-conds text-xs font-bold pt-2 pb-6">Sold by the pallet</p>
                <div class="flex flex-wrap items-center w-full">
                    {{ if .Params.sizes }}
                        {{ if not (in .Params.sizes "N/A")}}
                        <div class="flex flex-wrap w-1/2 mx-auto pb-6 md:pb-0">
                            <span class="w-full font-ibm-mono text-xs text-center uppercase">Size</span>
                            <select id="size" class="w-2/3 bg-white border border-black font-ibm-mono text-xs mx-auto m-1 py-1 px-2">
                                    {{ range .Params.sizes }}
                                    <option value="{{ . }}" class="">{{ . }}</option>
                                    {{ end }}
                            </select>
                        </div>
                        {{ else }}
                        <div class="hidden">
                            <select id="size">
                                    <option value="N/A">N/A</option>
                            </select>
                        </div>
                        {{ end }}
                    {{ else }}{{ end }}
                    <div class="flex flex-wrap w-full md:w-1/2 mx-auto quantity-box">
                        <span class="w-full font-ibm-mono text-xs text-center uppercase">QTY</span>
                        <input id="quantity" name="quantity" type="number" min="1" value="1" class="w-1/3 md:w-2/3 bg-white border border-black font-ibm-mono text-xs mx-auto m-1 py-1 px-2">
                    </div>
                    <div class="flex flex-wrap quote-button-container">
                        <button id="quote-button" class="w-auto bg-white border border-black font-titling text-xs uppercase mt-10 mx-auto py-4 md:py-1 px-5 z-50">Add to Quote</button>
                        <div id="item-add-notif" class="w-full h-0 text-xs text-center -mt-6 opacity-0">Item added to Quote</div>
                        <div id="item-updated-notif" class="w-full h-0 text-xs text-center -mt-6 opacity-0">Quote Updated</div>
                    </div>
                </div>
            </div>
            <script>
                {{ .Params.name | urlize | replaceRE "-" "" | safeJS }}removeQuote = () => {
                    const product = quoteQuans.find( ({ productName }) => productName === "{{ .Params.name }}" );
                    var getQuoteForm = document.getElementById("{{ .Params.name }}-quote");
                    var getVisualQuote = document.getElementById("{{ .Params.name }}-quote-visual");
                    product.quanNeeded = 0
                    getQuoteForm.innerHTML = ''
                    getVisualQuote.innerHTML = ''
                }
            </script>
        </div>
    </div>
</div>
{{ end }}
</div>

<div class="flex flex-wrap w-11/12 md:w-5/6 lg:w-2/3 xl:w-1/2 mx-auto pt-20">
    <h3 class="w-full font-titling text-4xl font-medium text-center pb-12">My Quote</h3>
    <div class="hidden sm:flex flex-wrap w-full border-b border-black">
        <div class="w-1/4 font-ibm-mono text-2xs uppercase tracking-widest text-center pb-3">
            QTY
        </div>
        <div class="w-1/2 font-ibm-mono text-2xs uppercase tracking-widest">
            Product Description
        </div>
        <div class="w-1/4 font-ibm-mono text-2xs uppercase tracking-widest text-center">
            Remove
        </div>
    </div>
    <div id="visual" class="flex flex-wrap w-full">
    {{ range where .Site.Pages "Type" "products" }}
        <div id="{{ .Params.name }}-quote-visual" class="flex flex-wrap w-full single">
            
        </div>
    {{ end }}
    </div>
</div>

<form id="quote-form" class="flex flex-wrap w-11/12 md:w-5/6 lg:w-2/3 xl:w-1/2 mx-auto" action="/thank-you/" netlify-honeypot="field-for-coolguys" data-netlify-recaptcha="true" name="quote-form" method="POST" netlify>
    <input type="hidden" name="subject" value="Quote Request" />
    <div class="flex flex-wrap w-full mx-auto pt-3 font-ibm-mono text-2xs font-hairline italic">
        <div class="w-full sm:w-1/2 text-left p-2">
            Disclaimer: Pictures are representative of the product. Product may differ from the picture.
        </div>
        <div class="flex flex-wrap w-full sm:w-1/2 text-left p-2">
            <input type="checkbox" class="w-1/12 h-4" required>
            <span class="w-11/12">I certify that the above order is correct and that I agree with any disclaimers.</span>
        </div>
    </div>
    <h3 class="w-full font-titling text-4xl font-medium text-center pt-24 pb-12">Shipping Info</h3>
    <input type="text" name="field-for-coolguys" style="display:none" />
    <div class="flex flex-wrap w-full md:w-1/3 pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">Name*</label>
        <input name="full-name" type="text" placeholder="Full name" class="w-full font-ibm-conds text-xs border border-black py-2 px-3" required>
    </div>
    <div class="flex flex-wrap w-full md:w-1/3 pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">Phone*</label>
        <input name="phone-number" type="tel" placeholder="Phone Number" class="w-full font-ibm-conds text-xs border border-black py-2 px-3" required>
    </div>
    <div class="flex flex-wrap w-full md:w-1/3 pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">Email*</label>
        <input name="email" type="email" placeholder="Email Address" class="w-full font-ibm-conds text-xs border border-black py-2 px-3" required>
    </div>
    <div class="w-full py-2"></div>
    <div class="flex flex-wrap w-full md:w-1/2 pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">Shipping Address*</label>
        <input name="street-address" type="text" placeholder="Street Name and Number" class="w-full font-ibm-conds text-xs border border-black py-2 px-3" required>
    </div>
    <div class="flex flex-wrap w-full md:w-1/4 pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">State*</label>
        <input name="state" type="text" placeholder="State" class="w-full font-ibm-conds text-xs border border-black py-2 px-3" required>
    </div>
    <div class="flex flex-wrap w-full md:w-1/4 pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">Zip*</label>
        <input name="zip" type="text" placeholder="Zip Code" class="w-full font-ibm-conds text-xs border border-black py-2 px-3" required>
    </div>
    <div class="w-full md:py-2"></div>
    <div class="flex flex-wrap w-full pb-8 md:pb-2 md:pr-6">
        <label class="w-full text-2xs font-ibm-mono tracking-widest uppercase pb-2">Details / Notes</label>
        <textarea name="shipping-details" type="text" placeholder="Any shipping details" class="w-full h-32 font-ibm-conds text-xs border border-black py-2 px-3"></textarea>
    </div>
    {{ range where .Site.Pages "Type" "products" }}
        <div id="{{ .Params.name }}-quote">
            <input type="hidden" name="{{ .Params.name | urlize }}-needed" value="">
            {{ if .Params.sizes }}
                {{ if not (in .Params.sizes "N/A")}}
                <input type="hidden" name="{{ .Params.name | urlize }}-size" value="">
                {{ else }}
                {{ end }}
            {{ else }}{{ end }}
        </div>
    {{ end }}
    <div class="w-full mx-auto" data-netlify-recaptcha="true"></div>
    <div class="w-full text-center">
        <input type="submit" value="Submit Quote" class="w-full sm:w-auto bg-white border border-black font-titling text-xs uppercase mt-8 ml-auto py-3 sm:py-1 px-5 text-center hover:cursor-pointer">
    </div>
    <div class="w-2/3 mx-auto pt-3 text-2xs text-center">
        Please complete the captcha above this button BEFORE submitting the form. Your quote will not be submitted if you do not complete the captcha.
    </div>
</form>

<script>
const quoteQuans = [
{{ range where .Site.Pages "Type" "products" }}
{
  productName: "{{ .Params.name }}",
  quanNeeded: ""
  {{ if .Params.sizes }}
  ,sizeNeeded: ""
  {{ else }}{{ end }}
},
{{ end }}
];
</script>

{{ end }}