{{ define "main" }}

<style>
.header-box .scroll {
  display: none;
}
</style>

<section id="thank-you" class="flex">
  <div class="flex w-full text-center">
  <div class="w-5/6 font-titling mx-auto pt-8 md:pt-32">
    <h1 class="text-3xl lg:text-5xl pb-4 leading-none"><span class="text-color-508e7b font-medium py-2 px-4">We have received your quote request</span></h1>
    <h2 class="text-lg lg:text-2xl font-ibm-conds font-thin pb-6">We will figure your quote and be in touch shortly.</h2>
    <a href="/" class="w-full sm:w-auto bg-white border border-black font-titling text-xs uppercase ml-auto py-3 sm:py-1 px-5 text-center">Return to Home Page</a>
  </div>
  </div>
</section>

{{ end }}