<style>
  
</style>

<footer class="flex flex-wrap w-full bg-color-274D79 mt-40 py-12 lg:py-5 px-8 lg:px-16">
  <div class="flex flex-wrap w-full font-neue mx-auto">
    <div class="w-full lg:w-1/5 mx-auto pb-12 lg:pb-0">
      <p class="text-lg text-white leading-relaxed tracking-wider">{{ .Site.Title }}</p>
    </div>
    <div class="w-full lg:w-4/5 text-sm text-white text-left lg:text-right lg:pl-5 leading-loose">
      <p class="text-base text-white leading-relaxed tracking-wider">&copy; {{ now.Format "January 2, 2006" }} | The Ranco Group</p>
    </div>
  </div>
</footer>