<style>
  .header-container {
  transition: .3s;
}
</style>

<div id="header-functions" class="">
  {{ if eq .Site.Params.extra_tools.floating_header true }}
  <div id="headerFloatingHeightFix" class="" ></div>
  {{ else }}
  {{ end }}
  
  <section id="header" class="header-container max-w-8xl pb-24">
    <div class="flex flex-wrap items-center w-11/12 md:w-2/3 select-none mx-auto pt-8 header-box">
      <a href="/" id="brand" class="w-full sm:w-1/2 text-black">
        <img class="w-48" src="/pageimg/Header Logo.svg">
      </a>
      <a href="#product" class="w-full sm:w-auto bg-white border border-black font-titling text-xs uppercase ml-auto py-1 px-5 text-center scroll">Build my quote</a>
    </div>
  </section>
</div>