<style>
  .header-container {
  transition: .3s;
}
</style>

<div id="header-functions" class="">
  {{ if eq .Site.Params.extra_tools.floating_header true }}
  <div id="headerFloatingHeightFix" class="" ></div>
  {{ else }}
  {{ end }}
  
  <section id="header" class="header-container max-w-8xl pb-32">
    <div class="flex flex-wrap items-center w-11/12 md:w-2/3 select-none mx-auto pt-8 header-box">
      <div id="brand" class="w-full sm:w-1/2">
        <p class="font-neue text-2xl font-medium leading-none tracking-wider pb-8 sm:pb-0">{{ .Site.Title }}</p>
      </div>
      <a href="#product" class="w-full sm:w-auto bg-white border border-black font-neue uppercase ml-auto py-1 px-5 text-center scroll">Build my quote</a>
    </div>
  </section>
</div>